<?xml version="1.0" encoding="UTF-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->





<configuration>

  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="999999999" />

    <add key="bydsa" value="Database=bydsa_mtyPruebas;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=ba588c8ac992d1;Password=xxxxxx;" />
    <add key="bydsa_az" value="Database=bydsa_mtyPruebas;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=ba588c8ac992d1;Password=xxxxxx;" />
    <add key="bydsa_test" value="Database=bydsa_mtyPruebas;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=ba588c8ac992d1;Password=xxxxxx;" />
    <add key="cash" value="Database=cash_pro;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=bc8906f476514c;Password=xxxxxx;" />
    <add key="cash_test" value="Database=Cash_Pruebas;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=bf6d8f8c850b40;Password=xxxxxx;" />

    <add key="cash_desarrollo" value="Database=cash_pro;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=bc8906f476514c;Password=xxxxxx;" />

    
  </appSettings>
  
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    
    <httpRuntime requestValidationMode="2.0" executionTimeout="6000" maxRequestLength="999999999" />
      
      
    
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="http://sicamex.no-ip.org/sicamexweb/Page/index.html" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>

